@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-primary);
    min-height: 100vh;
  }

  h1 {
    font-size: var(--text-h1);
    line-height: var(--text-h1--line-height);
    font-weight: var(--text-h1--font-weight);
  }

  h2 {
    font-size: var(--text-h2);
    line-height: var(--text-h2--line-height);
    font-weight: var(--text-h2--font-weight);
  }

  h3 {
    font-size: var(--text-h3);
    line-height: var(--text-h3--line-height);
    font-weight: var(--text-h3--font-weight);
  }
}
